:root {
    --klseis-main-backgroud-color: #0d0d0d;
    --klseis-secondary1-backgroud-color: #f4f4f4;
    --klseis-logoName-color: #000;
    --klseis-logoSlogan-color: #777;
    --klseis-search-backgroud-color: #eaeaea;
    --klseis-search-backgroud-color-hover: #dcdcdc;
    --klseis-secondary1-text-color: #aaa;
    --klseis-color1: #3474ff;
}